<mat-button-toggle-group (change)="onChange($event)" (click)="onClick()" name="formAction" aria-label="Form Action">
  <mat-button-toggle *ngIf="actions.ADD" value="ADD">הוסף</mat-button-toggle>
  <mat-button-toggle *ngIf="actions.ADD_EXIT" value="ADD_EXIT">הוסף וצא</mat-button-toggle>
  <mat-button-toggle *ngIf="actions.SAVE" value="SAVE">שמור </mat-button-toggle>
  <mat-button-toggle *ngIf="actions.SAVE_EXIT" value="SAVE_EXIT">שמור וצא</mat-button-toggle>
  <mat-button-toggle *ngIf="actions.DELETE" value="DELETE">מחק</mat-button-toggle>
  <mat-button-toggle *ngIf="actions.RESET" value="RESET">אפס</mat-button-toggle>
  <mat-button-toggle *ngIf="actions.EXIT" value="EXIT">צא</mat-button-toggle>
  <mat-button-toggle *ngIf="actions.EXIT_EDIT" value="EXIT_EDIT">צא מעריכה</mat-button-toggle>
  <mat-button-toggle *ngIf="actions.EXIT_ADD" value="EXIT_ADD">צא מהוספה</mat-button-toggle>
</mat-button-toggle-group>