<div style="padding-bottom: 2rem;">
  <h2 id="todos">משימות לעשות
    <button mat-stroked-button color="primary" (click)="addTodo()"> הוסף משימה</button>
  </h2>
  <mat-button-toggle-group style="flex-wrap: wrap;" [(value)]="selectedStatus">
    <mat-button-toggle value="ALL">הכל</mat-button-toggle>
    <mat-button-toggle value="PLANNED">בתיכנון</mat-button-toggle>
    <mat-button-toggle color="warn" value="IN_PROGRESS">בעבודה</mat-button-toggle>
    <mat-button-toggle value="NOT_NEEDED">אין צורך</mat-button-toggle>
    <mat-button-toggle value="STOPED">נעצר</mat-button-toggle>
    <mat-button-toggle value="STUCK">תקוע</mat-button-toggle>
    <mat-button-toggle value="COMPLETED">הושלם</mat-button-toggle>
  </mat-button-toggle-group>
  <app-todo-form *ngIf="todoState.add" [docRef]="docRef"></app-todo-form>

  <div *ngFor="let todo of selectedProject.todos;let todoIndex = index">
    <div *ngIf="selectedStatus === todo.status || selectedStatus ==='ALL'"
      style="display: flex;flex-direction: column;margin-bottom: 10px;">
      <span>{{todo.title}}</span>
      <span>{{todo.detail}}</span>
      <span> נוצר : {{todo.date | format }} </span>
      <span> הסתיים : {{todo.completeDate | format}} </span>
      <span *ngIf="selectedStatus ==='ALL'">{{todo.status}}</span>
      <span *ngIf="selectedStatus ==='COMPLETED'">{{todo.gitCommit}}</span>
      <span>{{todo.makingDesc}}</span>
      <mat-action-list>
        <button mat-stroked-button color="accent" (click)="editTodo(todoIndex)">ערוך</button>
        <button mat-stroked-button color="warn" (click)="deleteTodo(todo)">מחק</button>
      </mat-action-list>
      <app-todo-form *ngIf="todoState.edit && (todoIndex === todoState.selectedIndex)" [todo]="todo" [docRef]="docRef">
      </app-todo-form>
    </div>
  </div>
</div>