<div *ngIf="selectedProject">
  <div style="margin:1rem;margin-bottom: 0.5rem; font-size: x-large;">{{ selectedProject.projectDesc.name}}</div>
  <mat-tab-group dynamicHeight animationDuration="0ms">
    <mat-tab label="תיאור">
      <!--       <app-description [selectedProject]="selectedProject" [docRef]="docRef"></app-description>
 -->
      <app-show-data [docRef]="docRef" [selectedProject]="selectedProject" fieldName="projectDesc"></app-show-data>

    </mat-tab>
    <mat-tab label="כלים">
      <app-show-data [docRef]="docRef" [selectedProject]="selectedProject" fieldName="tools"></app-show-data>
    </mat-tab>
    <mat-tab label="פיצרים">
      <app-show-data [docRef]="docRef" [selectedProject]="selectedProject" fieldName="features"></app-show-data>
    </mat-tab>
    <mat-tab label="משימות">
      <app-show-data [docRef]="docRef" [selectedProject]="selectedProject" fieldName="todos"></app-show-data>
    </mat-tab>
    <mat-tab label="קשיים">
      <app-show-data [docRef]="docRef" [selectedProject]="selectedProject" fieldName="challenges"></app-show-data>
    </mat-tab>
    <mat-tab label="איך לעשות">
      <app-show-data [docRef]="docRef" [selectedProject]="selectedProject" fieldName="howTodos"></app-show-data>
    </mat-tab>
    <mat-tab label="זמני עבודה">
      <app-show-data [docRef]="docRef" [selectedProject]="selectedProject" fieldName="workTimes"></app-show-data>
    </mat-tab>
  </mat-tab-group>

</div>