<mat-form-field appearance="outline">
    <mat-label>שם הפרויקט</mat-label>
    <input matInput placeholder="" [formControl]="projectName">
</mat-form-field>

<!-- <app-project-desc-form (newProject)="updateNewProject($event)" [added]="added"></app-project-desc-form>
 -->

<div class="action-btn">
    <button mat-stroked-button color="primary" (click)="saveFormData()"> הוסף</button>
    <button mat-stroked-button color="accent" (click)="saveFormData(true)"> הוסף וצא </button>
    <button mat-stroked-button color="warn" (click)="exitForm()"> צא </button>
</div>