<form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
        <mat-label>שם כלי</mat-label>
        <input type="text" matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>תיאור</mat-label>
        <input type="textarea" matInput formControlName="desc" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>מטרה</mat-label>
        <input type="textarea" matInput formControlName="purpose" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>גירסה</mat-label>
        <input type="text" matInput formControlName="ver" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>אתר</mat-label>
        <input type="text" matInput formControlName="webSite" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>גיטהב</mat-label>
        <input type="text" matInput formControlName="githubLink" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>NPM</mat-label>
        <input type="text" matInput formControlName="npmLink" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>סוג</mat-label>
        <!--      <mat-select formControlName="type">
            <mat-option *ngFor="let toolType  of toolTypes" [value]="toolType">
                {{toolType}}
            </mat-option>
        </mat-select> -->
    </mat-form-field>

</form>