<button mt-button (click)="addNewProject()"> הוסף פרויקט חדש</button>

<mat-list *ngIf="!detial">
  <button mt-button (click)="goToProjectsList()"> רשימת הפרויקטים</button>
  <mat-list-item *ngFor="let project of projects | async" (click)="onSelectProject(project)">
    {{project.projectDesc.name}}
  </mat-list-item>
</mat-list>
<div class="project-list" *ngIf="detial">
  <app-description *ngFor="let project of projects | async" [selectedProject]="project">
    <button mat-button (click)="onSelectProject(project)">פרטים</button>
  </app-description>
</div>