<form [formGroup]="todo">
    <mat-form-field appearance="outline" appearance="outline">
        <mat-label>כותרת</mat-label>
        <input type="text" matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field appearance="outline" appearance="outline">
        <mat-label>תיאור משימה</mat-label>
        <textarea matInput placeholder="" formControlName="detail"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>תאריך יצירה</mat-label>
        <input matInput [matDatepicker]="datepickerCreate" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="datepickerCreate"></mat-datepicker-toggle>
        <mat-datepicker #datepickerCreate></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>תאריך השלמה</mat-label>
        <input matInput [matDatepicker]="datepickerComplete" formControlName="completeDate">
        <mat-datepicker-toggle matSuffix [for]="datepickerComplete"></mat-datepicker-toggle>
        <mat-datepicker #datepickerComplete></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>סטטוס</mat-label>
        <mat-select formControlName="status">
            <mat-option *ngFor="let selectedStatus  of status" [value]="selectedStatus">
                {{selectedStatus}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" appearance="outline">
        <mat-label>תיאור ביצוע</mat-label>
        <textarea matInput placeholder="" formControlName="makingDesc"></textarea>
    </mat-form-field>

    <button mat-stroked-button color="primary" (click)="addLink('open-form')">הוסף לינק</button>

    <form *ngIf="openLinkform" [formGroup]="linkForm">
        <mat-form-field appearance="outline" appearance="outline">
            <mat-label>כותרת</mat-label>
            <input type="text" matInput formControlName="title" />
        </mat-form-field>
        <mat-form-field appearance="outline" appearance="outline">
            <mat-label>אתר</mat-label>
            <input type="text" matInput formControlName="site" />
        </mat-form-field>
        <mat-form-field appearance="outline" appearance="outline">
            <mat-label>לינק</mat-label>
            <input type="text" matInput formControlName="href" />
        </mat-form-field>
        <mat-form-field appearance="outline" appearance="outline">
            <mat-label>תיאור</mat-label>
            <textarea matInput placeholder="" formControlName="problemDesc"></textarea>
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="addLink('add-link')">הוסף </button>
        <button mat-stroked-button color="primary" (click)="closeLinkForm()">סגור </button>
    </form>
    <mat-form-field appearance="outline" appearance="outline">
        <mat-label>גיט קומיט</mat-label>
        <textarea matInput placeholder="הכנס גיט קומיט" formControlName="gitCommit"></textarea>
    </mat-form-field>

    <button *ngIf="!todoData" mat-stroked-button color="primary" (click)="addTodo()">Add Todo</button>
    <button *ngIf="todoData" mat-stroked-button color="warn" (click)="saveTodo()">Save Todo</button>

</form>