<div *ngIf="selectedProject" style="display: flex;justify-content: space-between;margin:12px;">
    <div style="font-size: x-large;"> {{selectedProject.projectDesc.name}}</div>
    <div>
        <button *ngIf="!isShowAllProjects" (click)="showAllProjects()" mat-stroked-button color="accent">הצג
            כל הפרויקטים</button>
    </div>

</div>
<div *ngIf="isShowAllProjects">
    <div style="display: flex;flex-wrap: wrap;">
        <button mat-flat-button [color]="itemIndex == i ? 'primary':''" *ngFor="let project of projects;let i = index"
            (click)="selectProjectName({action:'VIEW_ITEM',item:i})">{{project.projectDesc.name}}</button>
    </div>
    <div style="margin: 4px;">
        <button (click)="selectProjectName({action:'ADD_ITEM',item:itemIndex})" mat-stroked-button color="accent"> הוסף
            פרויקט חדש+
        </button>
        <button (click)="selectProjectName({action:'CLOSE_ITEM',item:itemIndex})" mat-stroked-button color="accent">
            סגור רשימה</button>

    </div>
</div>
<app-new-project [projects]="projects" *ngIf="!projects || addNewProject"
    [projectsCollectionRef]="projectsCollectionRef" (formAction)="onFormAction($event)"></app-new-project>

<!-- <app-projects-summary-list *ngIf="!selectedProject" (itemSelected)="onItemSelected($event)" [projects]="projects">
</app-projects-summary-list>
 -->

<app-project [projectSection]="projectSection" *ngIf="selectedProject" [selectedProject]="selectedProject"
    [projectsCollectionRef]="projectsCollectionRef">
</app-project>