<mat-card>
  <mat-card-title>
    <span> כלי פיתוח
    </span>
    <button mat-stroked-button color="primary" (click)="addTool()"> הוסף </button>
  </mat-card-title>
  <app-tool-form *ngIf="toolState.add" [docRef]="docRef"></app-tool-form>
  <mat-divider></mat-divider>
  <div *ngFor="let tool of selectedProject.tools;let toolIndex = index">
    <mat-card-subtitle>
      <span>{{tool.name}}</span>
      <span>{{tool.ver}}</span>
      <button mat-stroked-button color="primary" (click)="toogleDetail(toolIndex)"> פרטים </button>
    </mat-card-subtitle>
    <div *ngIf="showDetial && (toolIndex == selectedIndex)">

      <mat-card-content>
        <p>
          <span> {{tool.type}}</span>
          <span>{{tool.purpose}}</span>
        </p>
        <p>
          {{tool.desc}}
        </p>
        <mat-nav-list>
          <mat-list-item *ngIf="tool.githubLink">
            <a matLine [href]="tool.githubLink" target="_blank">גיטהב</a>
          </mat-list-item>
          <mat-list-item *ngIf="tool.webSite">
            <a matLine [href]="tool.webSite" target="_blank">אתר</a>
          </mat-list-item>
          <mat-list-item *ngIf="tool.npmLink">
            <a matLine [href]="tool.npmLink" target="_blank">npm</a>
          </mat-list-item>
        </mat-nav-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="accent" (click)="editTool(toolIndex)">ערוך</button>
        <button mat-stroked-button color="warn" (click)="deleteTool(tool)">מחק</button>
      </mat-card-actions>
      <app-tool-form *ngIf="toolState.edit && (toolIndex === toolState.selectedIndex)" [tool]="tool" [docRef]="docRef">
      </app-tool-form>
    </div>
    <mat-divider></mat-divider>

  </div>
</mat-card>