<app-tool-form *ngIf="toolState.add" [docRef]="docRef"></app-tool-form>
<span *ngFor="let tool of selectedProject.tools;let toolIndex = index">
  <span (click)="toogleDetail(toolIndex)" style="margin: 0.2rem;">{{tool.name}}-{{tool.ver}}</span>
  <span *ngIf="showDetial && (toolIndex == selectedIndex)">
    <div>
      <h2>{{tool.name}}-{{tool.ver}}</h2>
      <h2> {{tool.type}}</h2>
      <h3>{{tool.purpose}}</h3>
      <h4>
        {{tool.desc}}
      </h4>
    </div>
    <mat-nav-list>
      <mat-list-item *ngIf="tool.githubLink">
        <a matLine [href]="tool.githubLink" target="_blank">גיטהב</a>
      </mat-list-item>
      <mat-list-item *ngIf="tool.webSite">
        <a matLine [href]="tool.webSite" target="_blank">אתר</a>
      </mat-list-item>
      <mat-list-item *ngIf="tool.npmLink">
        <a matLine [href]="tool.npmLink" target="_blank">npm</a>
      </mat-list-item>
    </mat-nav-list>
    <div>
      <button mat-stroked-button color="accent" (click)="editTool(toolIndex)">ערוך</button>
      <button mat-stroked-button color="warn" (click)="deleteTool(tool)">מחק</button>
    </div>
  </span>

  <app-tool-form *ngIf="toolState.edit && (toolIndex === toolState.selectedIndex)" [tool]="tool" [docRef]="docRef">
  </app-tool-form>
</span>
<button mat-stroked-button color="primary" (click)="addTool()"> הוסף כלי</button>