<form [formGroup]="question">
    <mat-form-field appearance="outline">
        <mat-label>שאלה</mat-label>
        <textarea matInput placeholder="" formControlName="question"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>תאריך </mat-label>
        <input matInput type="date" formControlName="questionTime">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label> שלב הפרויקט</mat-label>
        <input matInput type="text" formControlName="lifecycleStageId">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>שם פיצר</mat-label>
        <input matInput type="text" formControlName="featureId">
    </mat-form-field>
    <mat-checkbox color="accent" formControlName="answered">נענה?</mat-checkbox>
    <mat-form-field appearance="outline">
        <mat-label>תשובה</mat-label>
        <textarea matInput placeholder="" formControlName="answer"></textarea>
    </mat-form-field>
    <div>
        <label>תאריך תשובה</label>
        <input type="date" formControlName="answerTime" />
    </div>
    <div formArrayName="answerLinks">
        <div *ngFor="let answerLink of getAnswerLinks().controls;let answerLinkIndex = index">
            <div [formGroupName]="answerLinkIndex">
                <mat-form-field appearance="outline">
                    <mat-label>מקור</mat-label>
                    <input matInput type="text" formControlName="from">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>קישור</mat-label>
                    <input matInput type="text" formControlName="link">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>פתרון מועדף</mat-label>
                    <input matInput type="text" formControlName="prefer">
                </mat-form-field>
            </div>

        </div>
        <button mat-button (click)="addAnswerLink()"> Add Answer</button>

    </div>
    <button *ngIf="!questionData" mat-stroked-button color="primary" (click)="addQA()">הוסף</button>
    <button  *ngIf="questionData" mat-stroked-button color="warn" (click)="saveQA()">שמור</button>
</form>