<div style="font-size: 1.5rem;">
<!--   <div class="anchors">
    <a [routerLink]="['./']" fragment="desc">desc</a>
    <a [routerLink]="['./']" fragment="tools">tools</a>
    <a [routerLink]="['./']" fragment="todos">todos</a>
    <a [routerLink]="['./']" fragment="worktimes" >worktimes</a>
    <a [routerLink]="['./']" fragment="features">features</a>
    <a [routerLink]="['./']" fragment="questions" >questions</a>
  </div> -->
  <app-description id="desc" [selectedProject]="selectedProject" [docRef]="docRef"></app-description>
  <hr>
  <app-tools id="tools" [selectedProject]="selectedProject" [docRef]="docRef"></app-tools>
  <hr>
   <app-todos id="todos" [selectedProject]="selectedProject" [docRef]="docRef"></app-todos>
  <hr>
  <app-work-times id="worktimes" [selectedProject]="selectedProject" [docRef]="docRef" ></app-work-times>
  <hr>
  <app-features id="features" [selectedProject]="selectedProject" [docRef]="docRef"></app-features>
  <hr>
<app-questions id="questions" [selectedProject]="selectedProject" [docRef]="docRef"></app-questions>
  <hr />
  <mat-action-list>
    <button mat-stroked-button color="warn" (click)="deleteProject()">Delete Project</button>
    <button mat-stroked-button color="primary" (click)="editProject()">Edit Project</button>
  </mat-action-list>
</div>