<div style="font-size: 1.5rem;">
  <app-description [selectedProject]="selectedProject" [docRef]="docRef"></app-description>
  <hr>
  <app-tools [selectedProject]="selectedProject" [docRef]="docRef"></app-tools>
  <hr>
   <app-todos [selectedProject]="selectedProject" [docRef]="docRef"></app-todos>
  <hr>
  <app-work-times [selectedProject]="selectedProject" [docRef]="docRef" ></app-work-times>
  <hr>
  <app-features [selectedProject]="selectedProject" [docRef]="docRef"></app-features>
  <hr>
<app-questions [selectedProject]="selectedProject" [docRef]="docRef"></app-questions>
  <hr />
  <mat-action-list>
    <button mat-stroked-button color="warn" (click)="deleteProject()">Delete Project</button>
    <button mat-stroked-button color="primary" (click)="editProject()">Edit Project</button>
  </mat-action-list>
</div>