<mat-card-header>
  <mat-card-title>
    {{selectedProject.projectDesc.name}}
    <p>{{selectedProject.projectDesc.lifecycleStage}}</p>
  </mat-card-title>
  <mat-card-subtitle>
    <span>{{selectedProject.projectDesc.startTime | format }}</span>
    <span>{{selectedProject.projectDesc.endTime | format }}</span>
  </mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <p>
    {{selectedProject.projectDesc.desc}}
  </p>
</mat-card-content>
<mat-card-actions>
  <a *ngIf="selectedProject.projectDesc.gitHub" target="_blank" mat-button [href]="selectedProject.projectDesc.gitHub">
    גיטהב</a>
  <a *ngIf="selectedProject.projectDesc.site" target="_blank" mat-button
    [href]="selectedProject.projectDesc.site">אתר</a>
  <!--  <a *ngFor="let site of selectedProject.projectDesc.sites;let i = index" target="_blank" mat-list-item
      [href]="site.url">
      <span *ngIf="site.main">אתר ראשי</span>
      <span *ngIf="!site.main">אתר </span>
    </a> -->
</mat-card-actions>
<mat-card-actions>
  <button mat-button (click)="onSelectSection('projectDesc')">מאפיינים</button>
  <button mat-button (click)="onSelectSection('tools')">כלים</button>
  <button mat-button (click)="onSelectSection('features')">פיצרים</button>
  <button mat-button (click)="onSelectSection('todos')">משימות</button>
  <button mat-button (click)="onSelectSection('howTodos')">איך לעשות</button>
  <button mat-button (click)="onSelectSection('challenges')">קשיים</button>
  <button mat-button (click)="onSelectSection('workTimes')">זמני עבודה</button>

</mat-card-actions>