<mat-toolbar style="justify-content: space-between;">
  <button *ngIf="user" mat-button (click)="sideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{appName}}</span>
  <app-login></app-login>
</mat-toolbar>
<div class="main">
  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav autoFocus="true" mode="over" #sideNav>
      <app-projects-name-list (itemSelected)="onItemSelected()"></app-projects-name-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>