<mat-toolbar style="justify-content: space-between;">
  <span>מנהל הפרויקטים</span>
  <app-login></app-login>
</mat-toolbar>
<div class="main">
  <div style="text-align: center;
           font-size: x-large;
           margin-top: 2rem;" *ngIf="userSignIn === 'LOAD'">LOAD...</div>
  <div *ngIf="userSignIn === 'ERROR'">ERROR SIGNIN</div>
  <app-sign-in *ngIf="userSignIn === 'INABLE_SIGNIN'"></app-sign-in>
  <app-projects *ngIf="userSignIn === 'SIGNIN'" [projects]="projects">
  </app-projects>
</div>