<mat-card>
    <mat-card-header>
      <mat-card-title>{{selectedProject.name}}
      </mat-card-title>
      <mat-card-subtitle>
        <span>{{selectedProject.startTime}}</span>
        <span>{{selectedProject.endTime}}</span>
        <span>{{selectedProject.lifecycleStage}}</span>
        <br/>
        <span>{{selectedProject.filePath}}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{selectedProject.desc}}
      </p>
      <mat-nav-list>
        <a *ngIf="selectedProject.gitHub" target="_blank" mat-list-item [href]="selectedProject.gitHub"> גיטהב</a>
        <a *ngIf="selectedProject.site" target="_blank" mat-list-item [href]="selectedProject.site">אתר</a>
      </mat-nav-list>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="docRef"  mat-stroked-button color="accent" (click)="editProjectDesc()">ערוך</button>
      <ng-content></ng-content>
      <app-project-desc-form *ngIf="projectDescState.edit" [project]="selectedProject" [docRef]="docRef">
      </app-project-desc-form>
    </mat-card-actions>
  </mat-card>