<mat-card>
  <mat-card-title>

    <button *ngIf="controlFields.controlName.type =='array'" mat-stroked-button color="primary" (click)="addData()">
      <span>{{'הוסף'+ " " + controlFields.controlName.title}}</span>
    </button>
  </mat-card-title>

  <app-form-data *ngIf="formState.add" [controlFields]="controlFields" [docRef]="docRef"
    (formAction)="onFormAction($event)"></app-form-data>
  <div class="pages">

    <div *ngIf="isArray(selectedProject[fieldName])">
      <mat-card *ngFor="let data of selectedProject[fieldName] ; let dataIndex = index">
        <app-form-data-view [fieldData]="data" [controlFields]="controlFields">
        </app-form-data-view>


        <mat-card-actions>
          <button mat-stroked-button color="accent" (click)="editData(dataIndex)">ערוך</button>
          <button mat-stroked-button color="warn" (click)="deleteData(data.id)">מחק</button>
        </mat-card-actions>

        <app-form-data *ngIf="formState.edit && (dataIndex === formState.selectedIndex)" [controlFields]="controlFields"
          [docRef]="docRef" (formAction)="onFormAction($event)" [data]="data"></app-form-data>
      </mat-card>
    </div>
    <div *ngIf="!isArray(selectedProject[fieldName])">
      <mat-card>
        <app-form-data-view [fieldData]="selectedProject[fieldName]" [controlFields]="controlFields">
        </app-form-data-view>
        <mat-card-actions>
          <button mat-stroked-button color="accent" (click)="editData()">ערוך</button>
          <button mat-stroked-button color="warn" (click)="deleteData(selectedProject)">מחק</button>
        </mat-card-actions>

        <app-form-data *ngIf="formState.edit" [controlFields]="controlFields" [docRef]="docRef"
          (formAction)="onFormAction($event)" [data]="selectedProject[fieldName]"></app-form-data>
      </mat-card>
    </div>
  </div>
  <mat-card-actions *ngIf="isArray(selectedProject[fieldName]) && fieldSize">
    <button mat-stroked-button color="warn" (click)="deleteAllData(fieldName)">מחק הכל</button>
  </mat-card-actions>


</mat-card>