<form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
        <mat-label>זמן התחלה</mat-label>
        <input type="datetime-local" matInput formControlName="startTime">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>זמן סיום</mat-label>
        <input type="datetime-local" matInput formControlName="endTime">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>מה עשיתי</mat-label>
        <textarea matInput placeholder="" formControlName="task"></textarea>
    </mat-form-field>
</form>