<!--   <app-todo-form *ngSwitchCase="'todos'" [formDesc]="formDesc" [dataIn]="inputFormData"
    (dataOut)="formValueChange($event)">
  </app-todo-form>
  <app-tool-form *ngSwitchCase="'tools'" [formDesc]="formDesc" [dataIn]="inputFormData"
    (dataOut)="formValueChange($event)">
  </app-tool-form>
  <app-challenge-form *ngSwitchCase="'challenges'" [formDesc]="formDesc" [dataIn]="inputFormData"
    (dataOut)="formValueChange($event)">
  </app-challenge-form>
  <app-work-time-form *ngSwitchCase="'workTimes'" [formDesc]="formDesc" [dataIn]="inputFormData"
    (dataOut)="formValueChange($event)"></app-work-time-form>
  <app-feature-form *ngSwitchCase="'features'" [formDesc]="formDesc" [dataIn]="inputFormData"
    (dataOut)="formValueChange($event)"></app-feature-form> -->
<form [formGroup]="formGroup">
  <div *ngFor="let key of controlFieldKeys;let keyIndex = index">
    <mat-form-field *ngIf="controlFields.controlFields[key].type == 'text'" appearance="outline">
      <mat-label>{{controlFields.controlFields[key].label}}</mat-label>
      <input matInput [formControlName]="key">
    </mat-form-field>
    <mat-form-field *ngIf="controlFields.controlFields[key].type == 'date'" appearance="outline">
      <mat-label>{{controlFields.controlFields[key].label}}</mat-label>
      <input matInput [matDatepicker]="keyIndex" [formControlName]="key">
      <mat-datepicker-toggle matSuffix [for]="keyIndex"></mat-datepicker-toggle>
      <mat-datepicker #keyIndex></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="controlFields.controlFields[key].type == 'time'" appearance="outline">
      <mat-label>{{controlFields.controlFields[key].label}}</mat-label>
      <input type="time" matInput [formControlName]="key">
    </mat-form-field>
    <mat-form-field *ngIf="controlFields.controlFields[key].type == 'datetime-local'" appearance="outline">
      <mat-label>{{controlFields.controlFields[key].label}}</mat-label>
      <input type="datetime-local" matInput [formControlName]="key">
    </mat-form-field>
    <mat-form-field *ngIf="controlFields.controlFields[key].type == 'textarea'" appearance="outline">
      <mat-label>{{controlFields.controlFields[key].label}}</mat-label>
      <textarea matInput [formControlName]="key"></textarea>
    </mat-form-field>
    <mat-form-field *ngIf="controlFields.controlFields[key].type == 'select'" appearance="outline">
      <mat-label>{{controlFields.controlFields[key].label}}</mat-label>
      <mat-select [formControlName]="key">
        <mat-option *ngFor="let option of controlFields.controlFields[key].option" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox *ngIf="controlFields.controlFields[key].type == 'checkbox'" [formControlName]="key">
      {{controlFields.controlFields[key].label}}</mat-checkbox>
    <mat-form-field *ngIf="controlFields.controlFields[key].type == 'href'" appearance="outline">
      <mat-label>{{controlFields.controlFields[key].label}}</mat-label>
      <input type="url" matInput [formControlName]="key">
    </mat-form-field>
  </div>
</form>
<!-- <button *ngIf="!inputFormData" mat-stroked-button color="primary" (click)="addData()">הוסף</button>
<button *ngIf="inputFormData" mat-stroked-button color="warn" (click)="removeData()">מחק</button>
<button *ngIf="inputFormData" mat-stroked-button color="warn" (click)="updateData()">שמור</button>
 -->
<div style="margin-bottom: 2rem;">
  <app-form-action-toolbar *ngIf="newData" [formActions]="formActionsNew" (formAction)="onFormAction($event)">
  </app-form-action-toolbar>
  <app-form-action-toolbar *ngIf="!newData" [formActions]="formActionsUpdate" (formAction)="onFormAction($event)">
  </app-form-action-toolbar>
</div>