<form [formGroup]="projectDesc">
    <mat-form-field appearance="outline">
        <mat-label>שם הפרויקט</mat-label>
        <input matInput placeholder="" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>זמן התחלה</mat-label>
        <input matInput [matDatepicker]="startpicker" formControlName="startTime">
        <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
        <mat-datepicker #startpicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>סיום הפרויקט</mat-label>
        <input matInput [matDatepicker]="endpicker" formControlName="endTime">
        <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
        <mat-datepicker #endpicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>מצב הפרויקט</mat-label>
        <mat-select formControlName="lifecycleStage">
            <mat-option *ngFor="let status of projectStatuses" [value]="status">
                {{status}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="display: block;">
        <mat-label>תיאור הפרויקט</mat-label>
        <textarea matInput placeholder="" formControlName="desc"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>גיטהב</mat-label>
        <input type="text" matInput formControlName="gitHub" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>אתר</mat-label>
        <input type="text" matInput formControlName="site" />
    </mat-form-field>
    <div formArrayName="sites">
        <div *ngFor="let site of getSites().controls;let siteIndex = index ">
            <div [formGroupName]="siteIndex">
                <mat-form-field appearance="outline">
                    <mat-label>אתר</mat-label>
                    <input matInput type="text" formControlName="url">
                </mat-form-field>
                <mat-checkbox formControlName="main">
                    ראשי
                </mat-checkbox>
                <mat-checkbox formControlName="udatedAutoGithub">מתעדכן אוטומטי </mat-checkbox>
            </div>
            <button mat-stroked-button (click)="removeSite(siteIndex)">הסר לינק</button>
        </div>
        <button mat-stroked-button (click)="addSite()">הוסף לינק</button>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>מיקום קובץ</mat-label>
        <input type="text" matInput formControlName="filePath" />
    </mat-form-field>
    <button *ngIf="projectData" mat-stroked-button color="warn" (click)="saveProjectDesc()">שמור</button>
</form>