<form [formGroup]="projectForm">
    <h2>הפרויקט</h2>
    <mat-form-field appearance="outline">
        <mat-label>שם הפרויקט</mat-label>
        <input matInput placeholder="" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>תיאור הפרויקט</mat-label>
        <textarea matInput placeholder="" formControlName="desc"></textarea>
    </mat-form-field>
    <div>
        <label>זמן התחלה</label>
        <input type="date" formControlName="startTime" />
    </div>
    <div>
        <label>סיום הפרויקט</label>
        <input type="date" formControlName="endTime" />
    </div>
    <div>
        <label>מצב הפרויקט</label>
        <input type="text" formControlName="lifecycleStage" />
    </div>
    <hr />
    <h2>כלים</h2>
    <div formArrayName="tools">
        <div *ngFor="let tool of projectForm.get('tools')['controls'];let i=index">
            <div [formGroupName]="i" style="margin-bottom: 2rem;">
                <div>
                    <label>שם כלי</label>
                    <input type="text" formControlName="name" />
                </div>

                <div>
                    <label>תיאור</label>
                    <input type="textarea" formControlName="desc" />
                </div>
                <div>
                    <label>מטרה</label>
                    <input type="text" formControlName="purpose" />
                </div>
                <div>
                    <label>גירסה</label>
                    <input type="text" formControlName="ver" />
                </div>
                <div>
                    <label>Web site</label>
                    <input type="text" formControlName="webSite" />
                </div>
                <div>
                    <label>github</label>
                    <input type="text" formControlName="githubLink" />
                </div>
                <div>
                    <label>npm</label>
                    <input type="text" formControlName="npmLink" />
                </div>
            </div>


        </div>
        <button mat-button (click)="addTool()">Add Tool</button>
    </div>
    <hr />
    <h2>משימות</h2>
      <div formArrayName="todos" >
          <div *ngFor="let todo of projectForm.get('todos')['controls'] ;let todoIndex = index">
              <div [formGroupName] = "todoIndex" style="margin-bottom: 2rem;">
                <div>
                    <label>כותרת</label>
                    <input type="text" formControlName="title" />
                </div>
                <div>
                    <label>תיאור משימה</label>
                    <textarea  formControlName="detail"></textarea>
                </div>
                <div>
                    <label>תאריך יצירה</label>
                    <input type="date" formControlName="date" />
                </div>
                <div>
                    <label>בוצע?</label>
                    <input type="checkbox" formControlName="done" />
                </div>
              </div>
          </div>
          <button mat-button (click)="addTodo()">Add Todo</button>
      </div>
    <h2>פיצרים</h2>
    <div formArrayName="features">
        <div *ngFor="let feature of projectForm.get('features')['controls'];let i=index">
            <div [formGroupName]="i" style="margin-bottom: 2rem;">
                <div>
                    <label>שם</label>
                    <input type="text" formControlName="name" />
                </div>
                <div>
                    <label>תיאור</label>
                    <input type="text" formControlName="desc" />
                </div>
                <div>
                    <label>תאריך התחלה</label>
                    <input type="date" formControlName="startDate" />
                </div>
                <div>
                    <label>תאריך סיום</label>
                    <input type="date" formControlName="endDate" />
                </div>
                <div>
                    <label>התקדמות</label>
                    <input type="text" formControlName="progress" />
                </div>
            </div>
        </div>
        <button mat-button (click)="addFeature()">Add Feature</button>
    </div>
    <hr />
    <h2> שאלות ותשובות</h2>
    <div formArrayName="questions">
        <div *ngFor="let question of projectForm.get('questions')['controls']; let questionIndex = index">
            <div [formGroupName]="questionIndex" style="margin-bottom: 2rem;">
                <div>
                    <label>שאלה</label>
                    <input type="text" formControlName="question" />
                </div>
                <div>
                    <label>תאריך</label>
                    <input type="date" formControlName="questionTime" />
                </div>
                <div>
                    <label> שלב הפרויקט</label>
                    <input type="text" formControlName="lifecycleStageId" />
                </div>
                <div>
                    <label> שם פיצר</label>
                    <input type="text" formControlName="featureId" />
                </div>

                <div>
                    <label> נענה?</label>
                    <input type="checkbox" formControlName="answered" />
                </div>
                <div>
                    <label> תשובה</label>
                    <input type="textarea" formControlName="answer" />
                </div>
                <div>
                    <label>תאריך תשובה</label>
                    <input type="date" formControlName="answerTime" />
                </div>
                <div formArrayName="answerLinks">
                    <div
                        *ngFor="let answerLink of getAnswerLinks(questionIndex).controls;let answerLinkIndex = index">
                        <div [formGroupName]="answerLinkIndex">
                            <div>
                                <label>מקור</label>
                                <input type="text" formControlName="from" />
                            </div>
                            <div>
                                <label>קישור</label>
                                <input type="text" formControlName="links" />
                            </div>
                            <div>
                                <label>פתרון מועדף</label>
                                <input type="text" formControlName="prefer" />
                            </div>
                        </div>
                        <button mat-button (click)="removeAnswerLink(questionIndex,answerLinkIndex)"> Remove Answer</button>

                    </div>
                    <button mat-button (click)="addAnswerLink(questionIndex)"> Add Answer</button>

                </div> 
            </div>
        </div>
        <button mat-button (click)="addQuestion()">Add Question</button>
    </div>
    <div class="action-btn">
        <button (click)="getFormData()">GET DATA</button>
        <button (click)="saveFormData()"> SAVE DATA</button>
    </div>
</form>