<mat-nav-list>
  <div>
    <mat-list-item style="font-size: x-large;font-weight: bolder;font-style: italic;">
      <a (click)="onSelectedItem({action:'ADD_ITEM'})" matLine> הוסף פרויקט חדש</a>
    </mat-list-item>
    <mat-list-item (click)="onSelectedItem({action:'VIEW_ITEMS'})"
      style="font-size: x-large;font-weight: bolder;font-style: italic">
      <a matLine>רשימת הפרויקטים</a>
    </mat-list-item>
  </div>
  <div>
    <mat-list-item *ngFor="let project of projects ; let selectedIndex = index ">
      <a (click)="onSelectedItem({action:'VIEW_ITEM',item:selectedIndex})" matLine>{{project.projectDesc.name}}</a>
    </mat-list-item>
  </div>
</mat-nav-list>