<!-- <span style="margin: 0.2rem;padding:0.2rem; border:1px gray solid">
  {{tool.name}}-{{tool.ver}}
</span>
<span *ngIf="showDetial && (toolIndex == selectedIndex)">
  <div>
    <h2>
      <span>{{tool.name}}</span>
      <span *ngIf="tool.ver">-{{tool.ver}}</span>
    </h2>
    <h2> {{tool.type}}</h2>
    <h3>{{tool.purpose}}</h3>
    <h4>
      {{tool.desc}}
    </h4>
  </div>
  <mat-nav-list>
    <mat-list-item *ngIf="tool.githubLink">
      <a matLine [href]="tool.githubLink" target="_blank">גיטהב</a>
    </mat-list-item>
    <mat-list-item *ngIf="tool.webSite">
      <a matLine [href]="tool.webSite" target="_blank">אתר</a>
    </mat-list-item>
    <mat-list-item *ngIf="tool.npmLink">
      <a matLine [href]="tool.npmLink" target="_blank">npm</a>
    </mat-list-item>
  </mat-nav-list> -->